<div class="profile-card col-5">
  <h2 class="emphasis mt-3 mb-5"><i class="fa-regular fa-comment-dots"></i> About</h2>
  <p>香港出身。2020年から東京在住。金融業界からキャリアをスタートし、現在はチームラボWebアプリエンジニア。</p>
  <p>仕事では主にTypeScript（Node.js）とAWSを使用しています。個人のプロジェクトでは、Ruby on RailsやDjangoを使用しています。</p>
</div>
