<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>Originally from Hong Kong, moved to Tokyo 2 years ago.
          Having working in the finance field for a couple of years, I am eager and deticated to dive into a new field in programming and web development after completing a 9-week intensive bootcamp at Le Wagon.</p>
      </div>
    </div>
  </div>
</div>
