<div class="container">
  <div class="profile-card">
    <div class="profile-container">
      <%= image_tag 'profile.jpg', alt: "profile photo", class: 'profile-pic' %>
      <h1 class="title-main">Clement Choi</h1>
      <h5>Web Developer</h5>
      <h5>Tokyo, Japan</h5>
      <h5>English, Japanese, Chinese, Cantonese</h5>
    </div>
  </div>
</div>
