.button-social {
  color: $emphasis;
  padding: 0 16px;
  position: relative;
  font-size: 20px;

  &:hover {
    color: $purple;
    transition: 0.5s;
  }
}

.icon-social {
  color: $emphasis;

  &:hover {
    color: $purple;
    transition: 0.5s;
  }
}

.wantedly {
  width: 24px;
  height: 24px;
}

.button-social-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn-purple {
  background-color: $emphasis;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 20px;
}

.btn-purple:hover {
  background-color: $purple;
  transition: 0.5s;
  color: white;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 16px;
  font-size: 24px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.btn-lang {
  background-color: #39b4da !important;
  border-color: $emphasis !important;
  &:hover {
    filter: brightness(95%);
    transition: 0.5s;
  }
}

.btn-lang-active {
  background-color: #e172e9 !important;
  border-color: $emphasis !important;
  &:hover {
    filter: brightness(95%);
    transition: 0.5s;
  }
}
