.profile-card {
  background-color: rgba(245, 245, 245, 0.5);
  padding: 20px;
  border-radius: 4px;
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .banner-text {
    width: 100% !important;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.description {
  color: $dark-gray;
}

.card {
  border: 0px;
  height: 420px;
}

.card:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.card:not(:hover) {
  transition: 0.25s;
  transform: scale(1);
}

.tech {
  background-color: $emphasis !important;
  font-size: 0.9em;
}

.skill-icons {
  line-height: 4rem;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    width: 13rem !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
