// Specific CSS for your home-page
body {
  background: repeating-linear-gradient(150deg, #a2d8ed, #e73333) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

.emphasis {
  color: $emphasis;
}

a:-webkit-any-link {
  text-decoration: none;
}

.btn-group {
  margin-top: 4px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 880px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 630px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 540px;
  }

  .profile-pic {
    height: 150px;
    width: 150px;
  }

  h1 {
    font-size: 48px !important;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .btn-download {
    padding: 5px 10px;
    font-size: 12px;
  }
}
