<div class="container ">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <div class="mt-5 row justify-content-around">
    <!-- About Section -->
    <%= partial 'partials/about' %>
    <!-- Skills Section -->
    <%= partial 'partials/skills' %>
  </div>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
</div>
